.header-area{
    text-align: center;
    background-color: #224230;
    width: 100%;
    color: aliceblue;
    padding: 0;
}
.header-name{
    margin: 0;
    padding-top: 20px;
}
.details{
    padding-bottom:20px ;
}